* {
    box-sizing: border-box;
}

:root {
    --color1: #4d4c4c;
    --color2: #696969;
    --color3: #808080;
    --color4: #a9a9a9;
    --color5: #c0c0c0;
}

.flex {
    display: flex;
    flex-direction: row;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-around;
    align-items: center;
    height: 14vh;
    background-color: var(--color4);
    margin: 0;
}

.nav-img {
    height: 55%;
    width: 200px;
    background-color: var(--color3);
}

.nav-button {
    justify-content: space-around;
    width: 60%;
    height: 45%;
}

.nav-button button {
    font-size: 22px;
    border: none;
    padding: 0 10px;
    width: auto;
    height: 100%;
    background-color: var(--color3);
}

.nav-button button a {
    text-decoration: none;
    color: white;
    background-color: var(--color3);
}

.navbar-input {
    height: 45%;
    width: 20em;
}

.navbar-input input {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--color3);
}


